*   {
    background-color: white;
}
body {
text-align: center;
margin: 0;
  padding: 0;
    }
nav {
  position:fixed;
  width:100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    width:100%;
}

li a {
  display: block;
  color: blue;
  font-size:20px;
  padding: 8px 16px;
  text-decoration: none;
}
.active{
  background-color: orange;
  color: white;
}
li a:hover {
  background-color: orange;
  color: white;
}
