*   {
    background-color: green;
}

body {
text-align: center
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li  {
    display: inline;
}
