<html>
  <head>
    <link rel="stylesheet" href='/static/style.css' />
  </head>
  <body>
    <h1>About this Application</h1>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="aboutthisapplication">About Us</a></li>
              <li><a href="temperature">Temperature</a></li>
              <li><a href="pressure">Pressure</a></li>
          </ul>
      </nav>
    <p> This application was created to allow users to visualize and understand conditions
        on Mars through various measurements and see predicitions based on these measurments. </p>
  </body>
</html>
