<html>
    <head>
        <link rel="stylesheet" href='/static/style.css' />
    </head>
    <body>
        <h1> Mars Space Climate </h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="aboutthisapplication">About Us</a></li>
                <li><a href="temperature">Temperature</a></li>
                <li><a href="pressure">Pressure</a></li>
            </ul>
        </nav>
        <p>This website provides information to people about the conditions about Mars as well as predicts what the these conditions will be like. </p> 
        <img class="mars" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62921/mars2-black.jpg" style="width:500px;height:500px;">
    </body>
</html>
