<html>
  <head>
    <link rel="stylesheet" href='/static/style.css' />
  </head>
  <body>
    <h1>Surface and Atmospheric Temperature</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="aboutthisapplication">About Us</a></li>
            <li><a href="temperature">Temperature</a></li>
            <li><a href="pressure">Pressure</a></li>
        </ul>
    </nav>
    <p>This page shows predictions of both surface and atmospheric temperature on Mars</p>
  </body>
</html>
